/*
    Theme Name: Haatik
    Theme URI: http://www.haatik.com
    Description: Theme del sitio
    Author: El Tipo Gráfico.
    Design: Miguel García
    Author URI: http://www.eltipografico.com
    Version: 1.0
*/

a {
    color: #000;
}
a:visited, a:active {
    color: #000;
}

.btn-primary {
    background: #3B3B3B;
    color: white !important;
    border: 1px solid #3B3B3B;
}

.force-max {
    width: 100%;
    height: auto;
}

.blanco {
    color: white !important;
}
.text-light {
    font-weight: 300;
}

	.embed-container { 
		position: relative; 
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		max-width: 100%;
		height: auto;
	} 

	.embed-container iframe,
	.embed-container object,
	.embed-container embed { 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

.galeria-masonry div {
/*     padding: 0 !important; */
margin-bottom: 32px;
margin-top:    32px;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
h2.icono {
    padding: 20px 0 0 40px;
    font-size: 23px;
    margin-bottom: 30px;
}
    h2.icono-noticias {
        background: url(img/ico-albsiteak.png) no-repeat left bottom;
    }
    h2.icono-eventos {
        background: url(img/ico-emanaldiak.png) no-repeat left bottom;
    }
.pd30_0 {
    padding-top:    30px;
    padding-bottom: 30px;
}
.pd50_0 {
    padding-top:    50px;
    padding-bottom: 50px;
}

/*
  Cabecera   
*/

    #cabecera {
        position: fixed;
        width: 100%;
        z-index: 999;
        padding-bottom: 20px;
        padding-left: 5%;
        padding-right: 5%;
        top: 0;
    }
        body.logged-in.admin-bar #cabecera {
            top: 32px;
        }
        #cabecera .margen {
            padding: 20px 0 5px 0;
            margin: 0 auto;
        }        
        #cabecera #logo {
            display: block;
            position: relative;
            width: 95%;
            margin-left: 5%;
            max-width: 150px;
        }
        #cabecera #logo img {
            position: absolute;
            top: 0;
        }
    
/*
  Cabecera   
*/
    #menu {
        font-family: 'Montserrat', sans-serif;
        margin-top: 12px;
    }
        #menu.fixie {
        }
        #menu ul,
        #menu li {
            margin: 0;
            padding: 0;
        }
        #menu li {
            display: inline-block;
            list-style-type: none;
            margin-right: 20px;
            padding: 5px 10px;
        }
        #menu li.active,
        #menu li:hover {
            background: black;
        }
        #menu li.active a,
        #menu li:hover a {
            color: white;
        }
        #menu li:last-child {
            margin-right: 0;
        }
        #menu a {
            text-transform: uppercase;
            text-decoration: none;
            font-size: 15px;
            color: #000000;
        }
        #cabecera ul.social {
            margin: 15px 0 0 0;
            padding: 0;
            text-align: right;
        }
        #cabecera ul.social li {
            margin: 0 0 0 1%;
            padding: 0;
            display: inline-block;
            width: 20%;
        }
        #cabecera ul.social li img {
            width: 100%;
            height: auto;
            max-width: 20px;
        }
        
        #cabecera #idiomas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding-left: 5%;
            padding-right: 5%;
        }
        #cabecera #idiomas ul {
            margin: 0;
            padding: 0;
            text-align: right;
        }
        #cabecera #idiomas ul li {
            margin: 0 0 0 10px;
            padding: 0;
            display: inline-block;
        }
        
                
    #lanak {
        display: none;
        background: black;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        color: white;
        z-index: 999;
        padding: 20px 0;
    }
    #lanak .lana {
        float: left;
        width: 18%;
        margin: 1%;
    }
    #lanak .lana a {
        display: block;
        position: relative;
    }
    #lanak .lana a .titulo {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        opacity: 0;
    }
    #lanak .lana a img {
        opacity: .8;
    }
    #lanak .lana a:hover img {
        opacity: 1;
    }
    #lanak .lana a:hover .titulo {
        opacity: 1;
    }


/*
    slide 
*/

    .cycle-slideshow {
        min-height: 200px;
    }
    .cycle-slideshow .slide {
        width: 100%;
        height: 100%;
    }
    .cycle-slideshow .item {
        display: table;
        vertical-align: middle;
        width: 100%;
        height: 100%;
    }
    .cycle-slideshow .caption {
        display: table-cell;
        vertical-align: middle;
        padding: 20px;
    }        
        @media (max-width: 768px) {
            .cycle-slideshow .caption {
                padding: 0px;
                background-color: #fff;
            }
            .cycle-slideshow .caption .texto {        
                padding-top: 5px;
            }
        }
    
    .cycle-slideshow .caption h3 {
        color: white;
        font-size: 50px !important;
    }
    .cycle-slideshow .caption .texto p {
        font-size: 26px !important;
        line-height: 1.4em !important;
    }
    
        @media only screen and (max-width : 1200px) {
            .cycle-slideshow .caption .texto p {
                font-size: 23px !important;
                line-height: 1.4em !important;
            }
        }
        
        @media only screen and (max-width : 992px) {
            .cycle-slideshow .caption .texto p {
                font-size: 18px !important;
                line-height: 1.4em !important;
            }
        }
    
        @media only screen and (max-width : 768px) {
        
        }
        
        @media only screen and (max-width : 480px) {
        
        }
        
        @media only screen and (max-width : 320px) {
            
        }
        
    
    .cycle-slideshow .navegador {
        position: absolute;
        top: 50%;
        width: 98%;
        left: 1%;
        z-index: 9999;
    }
    .cycle-slideshow .navegador #prev {
        float: left;
        width: 44px;
        height: 44px;
        background: transparent url(img/left.png) no-repeat 50%;
        background-size: cover;
    }
    .cycle-slideshow .navegador #next {
        float: right;
        width: 44px;
        height: 44px;
        background-size: cover;
        background: transparent url(img/right.png) no-repeat 50%;
    }
    .cycle-slideshow .navegador #prev span,
    .cycle-slideshow .navegador #next span {
        display: none;
    }
    #bullets {
        text-align: center;
        position: absolute;
        z-index: 9999;
        bottom: 20px;
        width: 100%;
    }
    #bullets div {
        display: inline-block;
        -webkit-border-radius: 	15px;
        -moz-border-radius: 	15px;
        -o-border-radius:		15px;
        border-radius: 			15px;
        background-color: #eee;
        width: 15px;
        height: 15px;
        margin: 10px 5px;
        cursor: pointer;
    }
    #bullets div.cycle-pager-active {
        background-color: #555;
    }
    #bullets span {
        display: none;
    }
    
#twitter_stream .tweet {
    margin-bottom: 10px;
}
#twitter_stream .tweet .texto {
    background: #eee;
    -webkit-border-radius: 	5px;
    -moz-border-radius: 	5px;
    -o-border-radius:		5px;
    border-radius: 			5px;
    padding: 5px 10px;
}
#twitter_stream .tweet .info {
    padding: 5px 10px;
}



/* 
    Contenido 
*/

    #contenido {
        margin-top: 100px;
    }
        .home #contenido {
            margin-top: 0;
        }

    #contenido h3 {
        font-size: 20px;
        color: #000000;
    }
    #contenido p,
    #contenido li {
        font-size: 14px;
        line-height: 27px;
    }
    #contenido .texto-blanco p,
    #contenido .texto-blanco li,
    #contenido .texto-blanco h2,
    #contenido .texto-blanco h3,
    #contenido .texto-blanco h4,
    #contenido .texto-blanco h5 {
        color: white;
    }
    #contenido p.entradilla {
        font-size: 20px;
        line-height: 28px;
    }
    #contenido .hero {
        display: table;
        width: 100%;
        height: 100%;
    }
    #contenido .hero h2 {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-size: 100px;
    }
    #contenido .hero_medio,
    #contenido .hero_cuarto {
        display: table;
    }
    #contenido .hero_medio.portada,
    #contenido .hero_cuarto.portada {
        margin-bottom: 50px;
    }
    #contenido .hero_medio .centrador,
    #contenido .hero_cuarto .centrador{
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        padding: 100px 0;
    }
    #contenido .hero_medio .centrador .titulo,
    #contenido .hero_cuarto .centrador .titulo {
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-size: 60px;
        margin-bottom: 30px;
    }
    #contenido .hero_medio.portada .titulo,
    #contenido .hero_cuarto.portada .titulo {
        display: table-row;
        text-align: center;
    }
/*
    #contenido .hero_medio .titulo a,
    #contenido .hero_cuarto .titulo a {
        display: table-cell;
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
        margin: 0 auto;
        text-decoration: none;
        vertical-align: middle;
    }
    #contenido .hero_medio .titulo a:hover,
    #contenido .hero_cuarto .titulo a:hover {
        background-color: rgba(0,0,0,.5);
    }
    
    
    
    
*/
    .post-type-archive-proyectos #contenido .proyecto {
        margin-bottom: 32px;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    #contenido .banda-de-texto {
        padding: 100px 0;
    }
    
    
    #contenido .galeria {
        margin-bottom: 32px;
        
    }
    #contenido .galeria .foto {
        margin-bottom: 32px;
    }
    
    .noticia {
        margin-bottom: 30px;
        padding-bottom: 30px;
/*         box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); */
        border-bottom: 1px solid black;
    }
    .noticia:hover {
/*         background-color: #eee; */
    }
    #contenido p.herramientas {
        font-size: 12px;
        color: #555;
    }
    #contenido p.herramientas a {
        color: #555;   
    }
    .margen {
/*         padding: 10px 20px; */
    }
    
/*
    .evento_snippet * {
        margin: 0;
        padding: 0;
    }
*/
    .evento_snippet .la_fecha {
        text-align: center;
        border: 2px solid #555;
        -webkit-border-radius: 	10px;
        -moz-border-radius: 	10px;
        -o-border-radius:		10px;
        border-radius: 			10px;
        padding: 10px 0;
        margin-right: 10px;
    }
    .evento_snippet .la_fecha .dia {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 40px;
        line-height: .8em;
        font-weight: bold;
    }



    .single-agenda .sarrerak {
        padding: 2em 0;
    }


#contenido.single .top {
    margin-bottom: 32px;
    background: #555;
}


#sidebar ul {
    margin: 0;
    padding: 0;
}
#sidebar ul li {
    list-style-type: none;
}
#sidebar h2 {
    text-transform: uppercase;
    font-size: 20px;
}
#sidebar ul li li:before {
    content: '– ';
}





#pie {
    background-color: #141414;
    color: white;
    padding: 50px 0;
}

    #pie h2 {
        font-size: 16px;
    }
    #pie a {
        color: white;
    }
    
    #pie .social {
        display: block;
        padding: 10px 0 10px 40px;
        font-weight: bold;
        text-transform: uppercase;
    }
    #pie .social.instagram {
        background: url(img/ig.png) no-repeat left center;
    }
    #pie .social.vimeo {
        background: url(img/vi.png) no-repeat left center;
    }
    #pie .social.fb {
        background: url(img/fb.png) no-repeat left center;
    }
    #pie .social.tw {
        background: url(img/tw.png) no-repeat left center;
    }

#contenido .texto p,
#contenido .texto li {
    font-size: 16px;
    line-height: 27px;
}




/* 
 * Boxer v3.3.0 - 2015-04-04 
 * A jQuery plugin for displaying images, videos or content in a modal overlay. Part of the Formstone Library. 
 * http://classic.formstone.it/boxer/ 
 * 
 * Copyright 2015 Ben Plum; MIT Licensed 
 */

.boxer-lock{overflow:hidden!important}#boxer-overlay{width:100%;height:100%;position:fixed;top:0;right:0;bottom:0;left:0;z-index:10000;background:#000;opacity:0;-webkit-transition:opacity .25s linear;transition:opacity .25s linear}.boxer-open #boxer-overlay{opacity:.75}#boxer{width:200px;height:200px;position:absolute;right:0;left:0;z-index:10001;background:#fff;border-radius:3px;box-shadow:0 0 25px #000;opacity:0;margin:0 auto;padding:10px}#boxer *{-webkit-transition:none;transition:none}#boxer,#boxer *{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}#boxer,#boxer *,#boxer :before,#boxer :after{box-sizing:border-box}#boxer.fixed{position:fixed;top:0;bottom:0;margin:auto}#boxer.inline{padding:30px}#boxer.animating{-webkit-transition:height .25s ease,width .25s ease,opacity .25s linear,top .25s ease;transition:height .25s ease,width .25s ease,opacity .25s linear,top .25s ease}#boxer.animating .boxer-container{-webkit-transition:opacity .25s linear .25s;transition:opacity .25s linear .25s}.boxer-open #boxer{opacity:1}#boxer.loading .boxer-container{opacity:0;-webkit-transition:opacity .25s linear;transition:opacity .25s linear}#boxer .boxer-close{width:30px;height:30px;position:absolute;top:-7.5px;right:-7.5px;z-index:10005;background:#fff;border-radius:100%;cursor:pointer;display:block;overflow:hidden;padding:0;text-indent:200%;white-space:nowrap}#boxer .boxer-close:before{position:absolute;top:0;right:0;bottom:0;left:0;color:#333;content:"\00d7";display:block;font-size:22px;font-weight:700;line-height:30px;margin:auto;text-align:center;text-indent:0;-webkit-transition:color .15s linear;transition:color .15s linear}.no-opacity #boxer .boxer-close{text-indent:-999px}#boxer .boxer-loading{width:50px;height:50px;position:absolute;top:0;right:0;bottom:0;left:0;z-index:10005;display:block;margin:auto;opacity:0;-webkit-transition:opacity .25s linear;transition:opacity .25s linear}#boxer .boxer-loading:before,#boxer .boxer-loading:after{width:100%;height:100%;position:absolute;top:0;right:0;bottom:0;left:0;border-radius:110%;content:'';display:block}#boxer .boxer-loading:before{border:5px solid rgba(51,51,51,.25)}#boxer .boxer-loading:after{-webkit-animation:boxer-loading-spin .75s linear infinite;animation:boxer-loading-spin .75s linear infinite;border:5px solid transparent;border-top-color:#333}#boxer.loading .boxer-loading{opacity:1}@-webkit-keyframes boxer-loading-spin{from{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes boxer-loading-spin{from{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}#boxer .boxer-container{width:100%;height:100%;position:relative;z-index:10003;background:#fff;overflow:hidden}#boxer .boxer-content{width:100%;background:#fff;opacity:1;overflow:hidden;padding:0}#boxer.inline .boxer-content,#boxer.iframe .boxer-content{width:auto}#boxer .boxer-image{float:left}#boxer .boxer-video{width:100%;height:100%}#boxer .boxer-iframe{width:100%;height:100%;border:none;float:left;overflow:auto}#boxer .boxer-meta{clear:both}#boxer .boxer-control{width:40px;height:40px;position:absolute;top:0;background:#fff;border-radius:100%;box-shadow:0 0 5px rgba(0,0,0,.25);cursor:pointer;display:block;margin-right:auto;margin-left:auto;opacity:1;overflow:hidden;text-indent:200%;-webkit-transition:opacity .15s linear;transition:opacity .15s linear;white-space:nowrap}#boxer .boxer-control:before{width:0;height:0;position:absolute;top:0;right:0;bottom:0;left:0;content:'';margin:auto}#boxer .boxer-control.previous{left:20px}#boxer .boxer-control.previous:before{border-top:8px solid transparent;border-bottom:8px solid transparent;border-right:10.4px solid #333;margin-left:14px}#boxer .boxer-control.next{right:20px}#boxer .boxer-control.next:before{border-top:8px solid transparent;border-bottom:8px solid transparent;border-left:10.4px solid #333;margin-right:14px}#boxer .boxer-control.disabled{opacity:0}.no-opacity #boxer .boxer-control{text-indent:-999px}.no-touch #boxer .boxer-control{opacity:0}.no-touch #boxer:hover .boxer-control{opacity:1}.no-touch #boxer:hover .boxer-control.disabled{opacity:0;cursor:default!important}#boxer .boxer-meta{padding:10px 0 0 0}#boxer .boxer-position{color:#999;font-size:12px;margin:0;padding:15px 15px 0 15px}#boxer .boxer-caption p{color:#666;font-size:14px;margin:0;padding:15px}#boxer .boxer-caption.gallery p{padding-top:0}#boxer .boxer-error{width:250px}#boxer .boxer-error p{color:#900;font-size:14px;margin:0;padding:25px;text-align:center;text-transform:uppercase}#boxer.mobile{width:100%;height:100%;position:fixed;top:0;right:0;bottom:0;left:0;background:#111;border-radius:0;padding:40px 0 0}#boxer.mobile .boxer-close,#boxer.mobile .boxer-close:hover{height:40px;width:40px;top:0;right:0;background:#111;border-radius:0}#boxer.mobile .boxer-close:before,#boxer.mobile .boxer-close:hover:before{color:#ccc;font-size:28px;font-weight:700;line-height:40px}#boxer.mobile .boxer-loading:before{border-color:rgba(153,153,153,.25)}#boxer.mobile .boxer-loading:after{border-top-color:#999}#boxer.mobile .boxer-container{background:#111}#boxer.mobile .boxer-content{background-color:#111}#boxer.mobile .boxer-control{width:50px;height:100%;background:#111;border-radius:0;box-shadow:none;opacity:1}#boxer.mobile .boxer-control.previous{left:0}#boxer.mobile .boxer-control.previous:before{border-right-color:#eee;margin-left:19px}#boxer.mobile .boxer-control.next{right:0}#boxer.mobile .boxer-control.next:before{border-left-color:#eee;margin-right:19px}.no-touch #boxer.mobile .boxer-control,.no-touch #boxer.mobile:hover .boxer-control{opacity:1}.no-touch #boxer.mobile .boxer-control.disabled,.no-touch #boxer.mobile:hover .boxer-control.disabled{opacity:0;cursor:default!important}#boxer.mobile .boxer-meta{width:100%;position:absolute;right:0;bottom:0;left:0;background-color:#111;padding:15px 65px}#boxer.mobile .boxer-position{color:#999;font-size:12px;margin:0;padding:0 15px 0 0}#boxer.mobile .boxer-caption p{color:#eee;font-size:14px;margin:0;padding:0}#boxer.mobile .boxer-image{-webkit-transition:none!important;transition:none!important;-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}#boxer.mobile.animated .boxer-image{-webkit-transition:-webkit-transform .25s ease-out!important;transition:transform .25s ease-out!important}#boxer.mobile.inline .boxer-content,#boxer.mobile.iframe .boxer-content{overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch}







/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #cabecera {
        padding: 0;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #cabecera {
        background-color: white;
        height: 100px;
    }
    #cabecera #idiomas {
        padding: 5px 0;
        background: white;
    }
    #cabecera #idiomas ul {
        text-align: center;
    }
    #cabecera ul.social {
        clear: both;
        display: none;
    }
    #logo {
        display: block;
        float: none;
    }
    .control-menu {
        width:  30px;
        height: 30px;
        cursor: pointer;
        background: url(img/control.png) no-repeat center top;
        z-index: 999999;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .control-menu.on {
        background: url(img/control.png) no-repeat center bottom;
    }
    #menu {
        display: none;
    }
    #menu.on {
        display: block;
    }
    #menu ul {
        margin-top: 80px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 9px 0px black;
    }
    #menu ul li {
        display: block;
        text-align: center;
    }
        .home #contenido {
            margin-top: 100px;
        }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}



@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}